# server instance credentials
POSTGRES_USER=dbo #superuser
POSTGRES_PASSWORD=dbo 
POSTGRES_DB=demo_db

# dev user
DEV_USER=dev_role
DEV_PASSWORD=dev

# app user
APP_USER=user_role
APP_PASSWORD=user
DATABASE_URL=postgresql://${APP_USER}:${APP_PASSWORD}@localhost:5432/${POSTGRES_DB}